In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.linear_model import LinearRegression

In [2]:
econ_df = pd.read_csv(
    "Resources/Refined Data Set.csv"
)

econ_df

,Time,GDP/capita growth (%),Access to electricity,Literacy rate (adult female),Literacy rate (youth female),Literacy rate (youth male),Literacy rate (adult male),Life expectancy at birth (female),Life expectancy at birth (\male),Primary school enrollment (net%),Labor force participation rate (female%),Labor force participation rate (male%),Net migration
0,1993,2.357339,89.318225,85.145782,93.649338,91.902779,87.969719,72.065137,65.750388,91.702070,40.455670,71.564291,-799413
1,1994,3.575111,90.223083,85.700523,94.091949,92.659912,88.555008,72.408284,66.149040,91.175760,41.652467,71.242033,-727304
2,1995,-0.841473,88.599506,86.312340,94.521599,93.420387,88.824631,72.754166,66.425347,91.075740,42.849265,70.919774,-812708
3,1996,2.367651,89.557909,86.693207,94.821121,93.742462,89.099770,73.117666,66.802275,91.551620,42.556270,69.970452,-814722
4,1997,3.620615,90.015864,86.990997,94.866676,93.907623,89.505096,73.483913,67.154166,90.591650,43.339769,69.828303,-802462
5,1998,1.059776,90.636887,87.535812,95.135422,94.211693,89.744217,73.701137,67.433797,92.100535,43.640127,69.902232,-798462
6,1999,-0.865684,91.247588,87.886726,95.358742,94.382912,89.914337,74.114224,67.825597,93.609420,44.277077,69.962526,-870278
7,2000,2.058134,91.725741,88.205704,95.574059,94.570038,90.085747,74.563693,68.032323,94.227670,44.399940,69.168548,-933168
8,2001,-0.919453,92.342229,88.230637,95.670761,94.702438,90.132202,74.842232,68.273577,94.465920,44.522803,68.374571,-949876
9,2002,-0.832495,92.646073,88.410057,95.978668,95.125069,90.849586,75.167799,68.639360,94.293610,46.116231,68.819754,-947054
10,2003,1.216159,92.739120,89.211067,96.626022,95.949471,90.809792,75.266017,68.893486,93.671960,45.209096,67.893652,-1001536
11,2004,4.257426,93.226985,89.220299,96.830879,96.033501,91.245880,75.596948,69.202567,93.978110,45.366216,66.989074,-922857
12,2005,2.731720,93.553600,89.740631,97.032257,96.244888,91.327278,75.925284,69.600113,94.170770,45.056885,65.667598,-1043018
13,2006,3.812768,94.268651,89.554871,96.964241,96.511749,91.834633,76.129083,69.810083,93.946260,44.879239,66.776375,-1021265
14,2007,4.078821,94.496909,90.341614,97.279984,96.773560,92.066933,76.264674,69.954385,93.698690,44.413614,65.142829,-998162
15,2008,2.574894,95.230451,90.596832,97.409698,96.934471,92.340660,76.467081,70.187107,95.073210,43.824314,64.031374,-1032747
16,2009,-3.060060,95.379750,90.863998,97.665359,97.257004,92.152687,76.643749,70.409267,94.868600,43.756255,64.034395,-958488
17,2010,5.318462,95.852776,91.011017,97.657249,97.036568,92.752312,76.521552,70.318719,94.926300,42.723667,63.098944,-590240
18,2011,3.284794,96.184007,91.550621,98.033684,97.483841,92.880127,77.001167,70.803219,94.775540,41.691078,62.163493,-495889
19,2012,1.441359,96.564340,91.861923,98.170029,97.685303,92.900192,77.249930,71.009666,94.845270,41.047305,61.672130,-488483
20,2013,1.755531,96.842328,91.933929,98.133308,97.657173,93.306801,77.440365,71.306331,93.663060,40.859926,60.793181,-535370
21,2014,0.331617,97.032812,92.414940,98.426788,98.017380,93.518242,77.604605,71.542654,93.479570,40.093097,60.367857,-494419
22,2015,-0.502262,97.285034,92.550301,98.487091,98.072166,93.988007,77.717340,71.562013,93.402400,40.582457,60.663983,-424043
23,2016,-1.161148,97.487192,93.014267,98.617188,98.196960,94.007431,77.767571,71.462842,93.583510,40.139043,59.162461,-139806
24,2017,0.893341,97.733595,93.072502,98.582748,98.217018,94.114647,77.832157,71.685650,93.653730,40.331597,58.866526,-281608
25,2018,0.703677,97.802699,93.269257,98.653458,98.304230,94.516350,77.975694,71.780270,93.716610,41.278128,59.198791,-338149
26,2019,-0.150346,98.091935,93.693878,98.687698,98.341942,94.537781,78.175604,71.954692,93.716610,41.902703,59.261798,-424522

In [3]:
y = econ_df["GDP/capita growth (%)"]
X = econ_df.drop(columns=["GDP/capita growth (%)"])

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler()

In [8]:
X_scaler.fit(X_train)

StandardScaler()

In [9]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# imports
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense


n_inputs = 12
n_hidden_nodes = 24

#instantiate
nn1 = Sequential()

# hidden layer 
nn1.add(Dense(units=n_hidden_nodes, input_dim=n_inputs, activation="relu"))

# output
nn1.add(Dense(1, activation="sigmoid"))

In [14]:
nn1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 24)                312

 dense_1 (Dense)             (None, 1)                 25

=================================================================
Total params: 337
Trainable params: 337
Non-trainable params: 0
_________________________________________________________________

In [17]:
nn1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
model1 = nn1.fit(X_train_scaled, y_train, epochs=10)

Epoch 1/10
1/1 [==============================] - 1s 681ms/step - loss: 0.5957 - accuracy: 0.0000e+00
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 0.5736 - accuracy: 0.0000e+00
Epoch 3/10
1/1 [==============================] - 0s 8ms/step - loss: 0.5516 - accuracy: 0.0000e+00
Epoch 4/10
1/1 [==============================] - 0s 10ms/step - loss: 0.5292 - accuracy: 0.0000e+00
Epoch 5/10
1/1 [==============================] - 0s 9ms/step - loss: 0.5073 - accuracy: 0.0000e+00
Epoch 6/10
1/1 [==============================] - 0s 8ms/step - loss: 0.4857 - accuracy: 0.0000e+00
Epoch 7/10
1/1 [==============================] - 0s 8ms/step - loss: 0.4647 - accuracy: 0.0000e+00
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 0.4441 - accuracy: 0.0000e+00
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 0.4237 - accuracy: 0.0000e+00
Epoch 10/10
1/1 [==============================] - 0s 6ms/step - loss: 0.4034 - accuracy: 0.0000e+00